@model IEnumerable<PBDS.Models.PhongBan>

@{
    ViewBag.Title = "ListPhongBan";
}

<h2>ListPhongBan</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenphongban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mota)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <div class="product-main">
            <h3 class="product-title">
                <td>
                    @Html.DisplayFor(modelItem => item.tenphongban)
                </td>
            </h3>
                <div class="product-info">
                    <td>
                        @Html.DisplayFor(modelItem => item.mota)
                    </td>
                </div>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.idphongban }) |
                        @Html.ActionLink("Details", "Details", new { id = item.idphongban }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.idphongban })
                    </td>
        </div>
</tr>
}

</table>
