@model IEnumerable<PBDS.Models.EBatDongSan>

@{
    ViewBag.Title = "Nhà đất bán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    li {
  float: left;
}

</style>

<link rel="stylesheet" href="https://staticfile.batdongsan.com.vn/css/Product/filestatic.ver202010151221.msvbds.productlisting.min.css" />

<!--ajax get quận huyện từ IDTinhThanhPho-->
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script language="javascript" type="text/javascript">
    function GetQuanHuyen(_IDTinhThanhPho) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#ddlquanhuyen").html(procemessage).show();
        var url = "/Home/GetQuanHuyenByIDTinhThanhPho/";

        $.ajax({
            url: url,
            data: { IDTinhThanhPho: _IDTinhThanhPho },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Tất cả quận huyện</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#ddlquanhuyen").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
</script>

<script language="javascript" type="text/javascript">
    function GetDuAn(_IDQuanHuyen) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#ddlduan").html(procemessage).show();
        var url = "/Home/GetDuAnbyIDQuanHuyen/";

        $.ajax({
            url: url,
            data: { IDQuanHuyen: _IDQuanHuyen },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>tất cả dự án</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#ddlduan").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
</script>

<script language="javascript" type="text/javascript">
    function GetLoaiNhaDat(_IDLoaiBaiDang) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#ddlloainhadat").html(procemessage).show();
        var url = "/Home/GetLoaiNhaDatByIDLoaiBaiDang/";

        $.ajax({
            url: url,
            data: { IDLoaiBaiDang: _IDLoaiBaiDang },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Tất cả loại nhà đất</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#ddlloainhadat").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
</script>

<script language="javascript" type="text/javascript">
    function GetPhuongXa(_IDQuanHuyen) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#ddlphuongxa").html(procemessage).show();
        var url = "/Home/GetPhuongXaByIDQuanHuyen/";

        $.ajax({
            url: url,
            data: { IDQuanHuyen: _IDQuanHuyen },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Tất cả phường xã</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#ddlphuongxa").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        let myBtns = document.querySelectorAll('.buttons_muaban');
        myBtns.forEach(function (btn) {
            btn.addEventListener('click', () => {
                myBtns.forEach(b => b.classList.remove('actived'));
                btn.classList.add('actived');
            });
        });
    });
    function change(value) {
        document.getElementById("type").value = value;
    }
</script>

@using (Html.BeginForm("TimKiemBaiDang", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form id="boxSearchForm" action="/microservice-architecture-router/Product/ProductSearch/Index" method="post">
        <div class="search-bar shadow-lv-1 clearfix">
            <ul class="search-bar-tab mar-left-16 pad-top-8 mar-right-16">
                <li class="buttons_muaban actived" onclick="change(1); GetLoaiNhaDat(1);">Bán</li>
                <li class="buttons_muaban" onclick="change(2); GetLoaiNhaDat(2);">Cho thuê</li>
            </ul>
            <input data-val="true" data-val-required="The CateId field is required." id="type" name="IDLoaiBaiDang" type="hidden" value="1" />

            <div class="search-bar-suggestion pad-top-8 mar-right-16">
                <input type="hidden" id="suggestionTemp">
                <input id="Keyword" name="Keyword" type="hidden" value=""/>
                <input type="text" placeholder="Tìm kiếm địa điểm, khu vực" value="" class="search-bar-input" name="searchstring" id="search-suggestion" autocomplete="off" />
                <span class="icon-close hiding">
                    <img src="https://staticfile.batdongsan.com.vn/images/icons/16x16/grey/ic_close.png" />
                </span>
            </div>
            <div id="divCategoryRe" class="select-control select-cate">
                <div class="select-control-label">
                    <div class="">Loại nhà đất</div>
                </div>
                <div class="form-group">
                    @Html.DropDownList("IDLoaiNhaDat", new SelectList(ViewBag.listloainhadat, "ID", "TenLoaiNhaDat"), "Tất cả loại nhà đất", new { @class = "form-control", id = "ddlloainhadat", name = "ddlloainhadat" })
                </div>
            </div>
            <div class="select-control city-control">
                <div class="select-control-label">
                    <div class="">Tỉnh Thành</div>
                </div>
                <div class="form-group">
                    @Html.DropDownList("IDTinhThanhPho", new SelectList(ViewBag.listtinhthanh, "ID", "TenTinhThanhPho"), new { @class = "form-control", @onchange = "javascript:GetQuanHuyen(this.value); javascript:GetDuAn(this.value);javascript:GetPhuongXa(0);" })
                </div>
            </div>

            <div class="select-control city-control" aria-label="Bạn hãy chọn tỉnh thành trước" data-microtip-position="top" role="tooltip">
                <div class="select-control-label">
                    <div class="">Quận Huyện</div>
                </div>
                <div class="form-group">
                    @Html.DropDownList("IDQuanHuyen", new SelectList(ViewBag.listquanhuyen, "ID", "TenQuanHuyen"), "Tất cả quận huyện", new { @class = "form-control", @onchange = "javascript:GetDuAn(this.value);javascript:GetPhuongXa(this.value);", id = "ddlquanhuyen", name = "ddlquanhuyen" })
                </div>
            </div>

            @*<div class="select-control city-control" aria-label="Bạn hãy chọn quận huyện trước" data-microtip-position="top" role="tooltip">
                <div class="select-control-label">
                    <div class="">Phường Xã</div>
                </div>
                <div class="form-group">
                    @Html.DropDownList("IDPhuongXa", new SelectList(ViewBag.listphuongxa, "ID", "TenPhuongXa"), "Tất cả Phường xã", new { @class = "form-control", id = "ddlphuongxa", name = "ddlphuongxa" })
                </div>
            </div>*@

            <div class="select-control price-control">
                <div class="select-control-label">
                    <div class="">Mức giá</div>
                </div>
                <div class="form-group">
                    @Html.DropDownList("MucGia", new SelectList(ViewBag.mucgia), "Mức Giá", new { @class = "form-control" })
                </div>
                
            </div>
            <div class="select-control project-control" aria-label="Bạn hãy chọn quận huyện trước" data-microtip-position="top" role="tooltip">
                <div class="select-control-label">
                    <div>Dự Án</div>
                </div>
                <div class="form-group">
                    @Html.DropDownList("IDDuAn", new SelectList(ViewBag.listduan, "ID", "TenDuAn"), "Tất cả dự án", new { @class = "form-control", id = "ddlduan", name = "ddlduan" })
                </div>
            </div>
            <input type="submit" id="btnSearch" class="btn-blue-7" style=" font-size:17px ;margin:15px 30px 10px 60px;padding:15px 40px 15px 40px ;color:white;" value="Tìm kiếm" />
            @*<div id="link-reset"><img src="https://staticfile.batdongsan.com.vn/images/icons/24x24/ic_reset.svg" /><span class="link-reset-tooltip">Xóa tiêu chí lọc</span></div>*@
        </div>
    </form>
}
    <div class="main-container clearfix">
        <div class="main-left">
            <div class="product-lists mar-top-16" id="product-lists-web" style="display:block">
                @foreach (var item in Model)
                {
                    <div class="vip1 product-item clearfix" uid="1440035">
                        <div class="product-image ">
                            <a class="product-avatar" href="@Url.Action("Detail_batdongsan","Home",new {id=item.ID })" onclick="">
                                <img class="product-avatar-img" alt="@item.TenBatDongSan" data-src-error="/Images/no-image.png" src="/@item.Urlimage" is-lazy-image="true" />
                            </a>
                        </div>
                        <div class="product-main">
                            <h3 class="product-title">
                                <a href="@Url.Action("Detail_batdongsan","Home",new {id=item.ID })"
                                   title="@item.TenBatDongSan" class="vipZero product-link">
                                    @item.TenBatDongSan
                                </a>
                            </h3>
                            <div class="product-info">
                                <span class="price">@item.Gia @item.TenDonVi</span>
                                <span class="dot">·</span>
                                <span class="area">@item.DienTich m²</span>
                                <span class="dot">·</span>
                                <span class="location">@item.TenQuanHuyen, @item.TenTinhThanhPho</span>
                            </div>
                            <div class="product-content">
                                @item.Mota.Replace("<br />"," ")
                            </div>                            
                            <div class="product-wrap clearfix">
                                <div class="product-uptime">
                                    <span class="product-labeltime">
                                        @item.NgayDang.ToString(string.Format("dd/MM/yyyy"))
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="">
                    <nav aria-label="Page navigation example">
                        <ul class="">
                            @{
                                int position;
                                int pageCurrent = ViewBag.pageCurrent;
                                int numSize = ViewBag.numSize;
                                int showMax = 10;
                                int startPage;
                                int endPage;
                                if (numSize <= showMax)
                                {
                                    startPage = 1;
                                    endPage = numSize;
                                }
                                else if (pageCurrent + 9 > numSize)
                                {
                                    startPage = numSize - 9;
                                    endPage = numSize;
                                }
                                else
                                {
                                    startPage = pageCurrent;
                                    endPage = pageCurrent + showMax - 1;
                                }
                                if (pageCurrent > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("NhaDatBan", "Home", new {  page = 1 })" tabindex="-1"><<</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("NhaDatBan", "Home", new {  page = pageCurrent-1 })" tabindex="-1"><</a>
                                    </li>
                                }
                                for (position = startPage; position <= endPage && position <= numSize; position++)
                                {
                                    if (position == pageCurrent)
                                    {
                                        <li class="page-item active"><a class="page-link" href="@Url.Action("NhaDatBan", "Home", new {   page = position })">@position</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a class="page-link" href="@Url.Action("NhaDatBan", "Home", new {   page = position })">@position</a></li>
                                    }
                                }
                                if (pageCurrent > 0 && pageCurrent < numSize)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("NhaDatBan", "Home", new {  page = pageCurrent+1 })" tabindex="-1">></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("NhaDatBan", "Home", new {  page = numSize })" tabindex="-1">>></a>
                                    </li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>


<script>
    var buttonsearch = document.getElementById("btnSearch");
    function loadXMLDoc() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("product-lists-web").innerHTML =
                    this.responseText;
            }
        };
        xhttp.open("GET", "xmlhttp_info.txt", true);
        xhttp.send();
    }

</script>

<script>
    $(function () {
        $('img[data-src-error]').error(function () {
            var o = $(this);
            var errorSrc = o.attr('data-src-error');

            if (o.attr('src') != errorSrc) {
                o.attr('src', errorSrc);
            }
        });
    });
</script>