<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <!--
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    -->
    <!--css của index bất động sản-->
    <link rel="stylesheet" href="https://staticfile.batdongsan.com.vn/css/filestatic.ver202010290636.msvbds.FrontEnd.min.css" />
    <link rel="stylesheet" href="https://staticfile.batdongsan.com.vn/css/binnova/filestatic.ver202009220540.msvbds.home.min.css" />



    <!--Script của Kendo Grid-->
    <link href="~/Content/kendo/2020.3.915/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2020.3.915/kendo.default.min.css" rel="stylesheet" />
    <!--Js của kendo-->
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.915/js/kendo.all.min.js" />
    <script src="~/Scripts/kendo/2020.3.915/jquery.min.js"></script>


    <script src="~/Content/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    
</head>

<body class="bg-site">
    <div class="form-content">
        <header class="full-menu" style="background-image:url(" img_tree.gif")">
            <div class="menu-bar pushmenu pushmenu-right">
                <div class="control-menu">
                    <div id="Header_UserControl_divPostProduct">
                        <a href="/Home/ThemBatDongSan" id="linkPostProduct" class="btn-border-grey">Đăng tin</a>
                    </div>
                </div>

                <div class="drop-menu">
                    <div class="left-menu">
                        <h2>
                            <a href="@Url.Action("Trangchu","Home")" rel="nofollow"><img src="~/Images/preview-543cd28a-8c18-4acc-b4e8-3fda0a141528-1180x660-jDqMv.jpg" width="150" height="70"></a>

                        </h2>
                    </div>
                    <div class="right-menu">
                        <!--Header menu-->
                        <div class="home-header-menu">
                            <ul class='dropdown-navigative-menu'>
                                <li class="lv0 tablet">
                                    <a href="/">
                                        <span class="icon">
                                            <img src="https://file4.batdongsan.com.vn/images/Icons/ic_house.png">
                                        </span>
                                        <span class="text">Trang chủ</span>
                                    </a>
                                </li>
                                <li class='lv0'>
                                    <a href='/Home/NhaDatBan' class='haslink '>
                                        <span class="text">Nhà đất bán</span>
                                    </a>
                                </li>
                                <li class='lv0'>
                                    <a href='/Home/NhaDatChoThue' class='haslink '>
                                        <span class="icon">
                                            <img src="https://staticfile.batdongsan.com.vn/images/mobile/ic_for_rent.svg">
                                        </span>
                                        <span class="text">Nhà đất cho thuê</span>
                                    </a>
                                </li>
                                <li class='lv0'>
                                    <a href='/Home/DuAn' class='haslink '>
                                        <span class="icon">
                                            <img src="<svg xmlns=" http://www.w3.org/2000/svg"></svg>">
                                        </span>
                                        <span class="text">Dự án</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="clear">&nbsp;</div>
                </div>
            </div>
            <div class="bg-pushmenu"></div>
        </header>
    </div>

    <div>
        @RenderBody()
        <hr />
    </div>

    <footer>
        <div class="home-small">
            <div class="footer-row">
                <div class="footer-col1">
                    <div class="footer-logo">
                        <a href="/">
                            <img src="~/Images/preview-543cd28a-8c18-4acc-b4e8-3fda0a141528-1180x660-jDqMv.jpg" height="150" noloaderror="true" onerror="this.src='https://staticfile.batdongsan.com.vn/images/logo-footer-no1.png'">
                        </a>
                    </div>
                    <div class="footer-company-name center">
                        Công ty Cổ phần RealEstate Việt Nam
                    </div>
                    <div class="footer-add">
                        <span>
                            <img src="https://file4.batdongsan.com.vn/images/newhome/placeholder-line.png">
                        </span>38 Đường Cây Keo, Tam Phú, Thủ Đức
                    </div>
                    <div class="footer-add">
                        <span>
                            <img src="https://file4.batdongsan.com.vn/images/newhome/phone-call.png">
                        </span>0339115631
                    </div>
                    
                </div>
                <div class="footer-col2">
                    <div class="footer-sub-col1">
                        <div class="col-header">Liên kết nhanh</div>
                        <div class="col-content">
                            <ul>
                                <li><a href="#" rel="nofollow">PROPERTIES</a></li>
                                <li><a href="#" rel="nofollow">SERVICES</a></li>
                                <li><a href="#" rel="nofollow">SUBMIT PROPERTY</a></li>
                                <li><a href="#" rel="nofollow">CONTRACT US</a></li>
                                <li><a href="#" rel="nofollow">Q&A</a></li>
                                <li><a href="#" rel="nofollow">TERMS</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-sub-col2">
                        <div class="col-header">QUY ĐỊNH</div>
                        <div class="col-content">
                            <ul>
                                <li><a href="#" rel="nofollow">Quy định đăng tin</a></li>
                                <li><a href="#" rel="nofollow">Quy chế hoạt động</a></li>
                                <li><a href="#" rel="nofollow">Điều khoản thỏa thuận</a></li>
                                <li><a href="#" rel="nofollow">Chính sách bảo mật</a></li>
                                <li><a href="#" rel="nofollow">Giải quyết khiếu nại</a></li>
                                <li><a href="#" target="_blank" rel="nofollow">Góp ý báo lỗi</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-sub-col3">
                        <div class="col-header">Tổng đài hỗ trợ</div>
                        <div class="col-content">
                            <ul>
                                <li>
                                    <span>
                                        <img src="https://file4.batdongsan.com.vn/images/newhome/hotline.png">
                                    </span>Tổng đài CSKH: 0339115631
                                </li>
                                <li>
                                    <span>
                                        <img src="https://file4.batdongsan.com.vn/images/newhome/email.png">
                                    </span><a href="#">hotro@sonnt0105@gmail.com</a>
                                </li>                                
                            </ul>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="clear"></div>
            </div>   
        </div>
    </footer>
</body>
</html>