@model PBDS.Models.Baidang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Baidang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenbaidang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenbaidang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dientich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dientich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mota)
        </dd>        

        <dt>
            @Html.DisplayNameFor(model => model.urlimage)
        </dt>

        <td>
            <img src="(model => model.urlimage)" alt="(model => model.urlimage)" width="50" height="50">
        </td>

        <dt>
            @Html.DisplayNameFor(model => model.trangthai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangthai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaydang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaydang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaycapnhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaycapnhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuanHuyen.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuanHuyen.ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiBaiDang1.tenloaibaidang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiBaiDang1.tenloaibaidang)
        </dd>

    </dl>
</div>
<p>
    <div class="form-group">
        <input type="submit" name="submit" class="btn btn-primary" value="Duyệt" />
    </div>
    @Html.ActionLink("Back to List", "Index")
</p>
