@model PBDS.Models.Admin

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div class="row justify-content-md-center">
    <div class="col-md-5">
        @using (Html.BeginForm("Register", "Home", FormMethod.Post))
        {
            //@Html.ValidationSummary()
            @Html.AntiForgeryToken()

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Register</div>
                </div>
                <div class="card-body">
                    
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.tentaikhoan)
                        @Html.TextBoxFor(m => m.tentaikhoan, "", new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.tentaikhoan, "", new { @class = "badge badge-danger" })
                        @if (ViewBag.error != null)
                        {
                            <span class="badge badge-danger">@ViewBag.error</span>
                        }
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.matkhau)
                        @Html.PasswordFor(m => m.matkhau, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.matkhau, "", new { @class = "badge badge-danger" })
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-danger" value="Register" />
                    </div>
                </div>
            </div>

        }
    </div>
</div>
